
	body {
		background-color: black;
	}
	h1 {color: red; font-size: 24px; text-decoration: overline;}
	p {color: red; font-size: 24px; font-family: Comic Sans MS;}
    a  {color: white; font-size: 24px;}